labelstudio
lightning_logs
*.bak
label-studio-ml-backend
my_ml_backend/data
my_ml_backend/mlartifacts
my_ml_backend/mlruns
my_ml_backend/__pycache__
mlruns
*.pt
my_ml_backend/cache.db
cache.db
*.pyc
*.csv
*.json
*.JPG
*.png
labels
wandb
wildAI
mlflow
/models/
mlartifacts
runs
*.cache
*.onnx
data/WAID
wildAI-detection
.venv
data/savmap_dataset_v2
*.zip
Model trial*
.env
src/helper.py
.venv
*.egg-info
mlruns/0/meta.yaml
*.db
*.DS_Store
yolov8-obb
*.tmp
*.pth
lightning-ckpts
labeler
*.docx
base_models_weights
output
ppd_runs
runs*
